<div class="container my-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <% if @therapist.respond_to?(:photo) && @therapist.photo&.attached? %>
        <%= cl_image_tag @therapist.photo.key, class: "card-img rounded-xl mb-3" %>
      <% else %>
        <%= image_tag "default_avatar.png", size: "300x300", class: "rounded-circle mb-3 shadow-sm" %>
      <% end %>

      <h3 class="fw-bold"><%= @therapist.name %></h3>
      <p class="text-muted"><%= @therapist.location %></p>
      <p class="text-bold"> €<%= @therapist.consultation_fee %> per hour</p>
      <p><strong>Languages:</strong> <%= (@therapist.languages).join(", ") %></p>
    </div>

    <div class="col-md-8">
      <h4 class="fw-bold mb-3">About</h4>
      <p><%= simple_format(@therapist.bio) %></p>

      <h5 class="fw-bold mt-4">Specialties</h5>
      <p><%= (@therapist.specialty).join(", ") %></p>

      <% if user_signed_in? %>
        <hr class="my-4">

        <h5 class="fw-bold mt-4">Availabilities</h5>
        <% if @availabilities.any? %>
          <ul class="list-group mb-3">
            <% @availabilities.each do |slot| %>
              <li class="list-group-item">
                <%= "#{slot.start_time.strftime("%A, %B %d, %Y at %I:%M %p")} -> #{slot.end_time.strftime("%I:%M %p")}" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No availabilities at the moment.</p>
        <% end %>

        <h5 class="fw-bold">Book a Session</h5>
        <%= form_with model: [@therapist, @session], local: true do |f| %>

          <% if f.object.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h5 class="alert-heading">Please fix the following:</h5>
              <ul class="mb-0">
                <% f.object.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= f.text_field :start_time,
              class: "form-control",
              data: {
                controller: "flatpickr",
                flatpickr_disabled_value: @disabled_slots.to_json
              },
              placeholder: "Select date & time" %>
          </div>

          <div class="mb-3">
            <%= f.label :duration, "Duration (minutes)", class: "form-label" %>
            <%= f.select :duration, options_for_select([30,45,60], 60), {}, class: "form-control" %>
          </div>

          <%= f.submit "Book Session", class: "btn primary-button" %>
        <% end %>
      <% elsif therapist_signed_in? && current_therapist == @therapist %>
        <hr class="my-4">
      <% else %>
        <hr class="my-4">
        <p class="text-muted">Log in as a user to book a session.</p>
      <% end %>
    </div>
  </div>
</div>
